header {
    background-color: cyan;
    text-align: center;
}

body {
    font-size: 0.7rem;
}

th,
td {
    border: 1px solid black;
}

/* Pseudo Selectors for Links */
a:link {
    color: blue;
    background-color: white;
    text-decoration: none;
}

a:visited {
    color: purple;
    background-color: #f5f5f5;
}

a:hover {
    color: white;
    /* when mouse hovers */
    background-color: rgb(100, 100, 189);
}

a:active {
    color: yellow;
    /* when clicking/pressing */
    background-color: rgb(235, 125, 125);
}

/* CSS Stying for the main page */
.mainContainer {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    border: 2px solid black;
    font-size: 0.7rem;
}

.mainContainer>div {
    background-color: #fee4c3;
    border: 1px solid black;
    height: 50px;
}

.central {
    grid-row-start: 3;
    grid-row-end: span 4;
    grid-column-start: 2;
    grid-column-end: span 9;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
}

.player1Bg {
    background-color: green;
    grid-column-start: 1;
}

.player2Bg {
    background-color: pink;
    grid-column-start: 2;
}

#innerContainer {
    grid-column-start: 2;
    grid-column-end: span 9;
    grid-row-start: 2;
    grid-row-end: span 9;
}

.playerTitleSection {
    grid-row-start: 3;
}

.playerSection {
    grid-row-start: 4;
    grid-row-end: span 2;
}

.dieSection {
    grid-row-start: 7;
    grid-row-end: span 2;
}

.playerTitleSection,
.playerSection,
.dieSection {
    grid-column-start: 2;
    grid-column-end: span 9;

    display: grid;
}

.playerTitleSection {
    padding: 10px;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr 8fr 1fr 3fr;
}

.playerSection {
    grid-template-rows: 3fr 5fr 2fr;
    grid-template-columns: 3fr 1fr 4fr 1fr 3fr;
}

.dieSection {
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 8fr 1fr 3fr 1fr 8fr;
}

.playerTitle1,
.playerTitle2 {
    color: red;
    border: 1px blue dashed;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.player1,
.playerTitle1 {
    grid-column-start: 2;
}

.player2,
.playerTitle2 {
    grid-column-start: 4;
}

.player {
    width: 50px;
    height: 50px;
}

.die {
    width: 40px;
    height: 40px;
}

.die1Align {
    grid-column-start: 2;
}

.die2Align {
    grid-column-start: 4;
}

.player1,
.player2 {
    grid-row-start: 2;

}

.die1Align,
.die2Align {
    text-align: center;
    grid-row-start: 1;
}

.mainLinks {
    grid-column-start: 2;
    grid-column-end: span 3;
    grid-row-start: 8;
    grid-row-end: span 3;
    padding-left: 10px;
}

/* Styling for colors on cells in the main page */
.cell {
    display: grid;
}

.Top {
    grid-template-rows: 4fr 1fr;
}

.Bottom {
    grid-template-rows: 1fr 4fr;
}

.Left {
    grid-template-columns: 9fr 1fr;
}

.Right {
    grid-template-columns: 1fr 9fr;
}

.red {
    grid-row-start: 2;
    background: red;
    border-bottom: red;
    margin-bottom: -1px;
}

.yellow {
    grid-row-start: 2;
    background-color: yellow;
    border-bottom: yellow;
    margin-bottom: -1px;
}

.green {
    grid-row-start: 1;
    grid-column-start: 1;
    background-color: green;
    border-left: green;
    margin-left: -1px;
}

.blue {
    grid-row-start: 1;
    grid-column-start: 1;
    background-color: blue;
    border-left: blue;
    margin-left: -1px;
}

.brown {
    grid-row-start: 1;
    background-color: #a52b2a;
    border-top: #a52b2a;
    margin-top: -1px;
}

.gray {
    grid-row-start: 1;
    background-color: #aedae6;
    border-top: #aedae6;
    margin-top: -1px;
}

.purple {
    grid-column-start: 2;
    background-color: #81007f;
    border-right: #81007f;
    margin-right: -1px;
}

.orange {
    grid-column-start: 2;
    background-color: #ffa600;
    border-right: #ffa600;
    margin-right: -1px;
}

/* CSS Style for Winners page */
h2 {
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
}

.winnersContainer {
    display: grid;
    grid-template-columns: 4fr 5fr 4fr;
    grid-template-rows: 2fr 1fr;
    grid-gap: 15px 15px;

    font-size: 0.7rem;
}

.winnersTable1Align {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: span 2;
}

.winnersTable2Align {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.winnersTable1,
.winnersTable2,
.chanceTable {
    display: flex;
    border-collapse: collapse;
    justify-content: center;
}

.winnersTable1 td {
    font-family: 'Great Vibes';
}

.winnersTable1 td:nth-child(1) {
    width: 200px;
}

.winnersTable1 td:nth-child(2) {
    width: 150px;
}

.winnersTable1 td:nth-child(3) {
    width: 500px;
}

.winnersTable2 tr:nth-child(even) {
    background-color: lightgreen;
}

.winnersTable2 tr:nth-child(odd) {
    background-color: rgb(253, 237, 252);
}

.winnersTable2 th,
td {
    height: 20px;
}

.winnersTable2 td:nth-child(1) {
    width: 200px;
}

.winnersTable1 td:nth-child(2),
.winnersTable2 td:nth-child(2) {
    width: 300px;
    text-align: center;
}

.winnersTable1 td:nth-child(3) {
    text-align: center;
}

/* CSS Style for Chance Page */
.chanceContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-gap: 15px 30px;
}

.chanceTableAlign {
    grid-column-start: 2;
}

.chanceTable td:nth-child(1) {
    width: 500px;
}

.chanceTable td:nth-child(2) {
    text-align: center;
    width: 200px;
}

.winnersLinks,
.chanceLinks {
    grid-row-start: 2;
}

/* Common Styling for Links' Title */
.linkTitle {
    text-align: left;
}

/* Common Styling for footer */
footer {
    color: red;
    font-weight: bold;
    text-align: center;
}