/*This CSS file is used for illustrating Styling with Grid
Course: CMPE 2000- Fall 2022
Author: Oveeyen Moonian
*/

/*Our container class is a grid with 3 columns (100px, 300px, 200px) and 2 rows(100px,200px*/
.container {
    display: grid;
    /* grid-template-columns: 100px 300px 200px;
    grid-template-rows: 100px 200px; */
    /* column-gap: 10px;
    row-gap: 15px; */
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(2, 150px);
    gap: 10px 15px;
    grid-template-columns: 1fr 2fr 200px;
    grid-template-rows: 100px 200px;

}

.item {
    font-size: 3em;
    text-align: center;
    padding-top: 0.5em;
}

.item1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9e9e9e3;
}

.item2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c2c0c0c2;
}

.item3{
        display: flex;
    justify-content: center;
    align-items: center;
    background-color: #969393ad;
}

.item4{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7e7b7b75;
}

.item5{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #969393ad;
}

.item6{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #696666ad;
}
