/* Unordered list styles */
ul.disc-list {
    list-style-type: disc;
    margin-left: 2em;
}

/* ul.circle-list {
    list-style-type: circle;
    margin-left: 2em;
}

ul.square-list {
    list-style-type: square;
    margin-left: 2em;
}

ul.none-list {
    list-style-type: none;
    margin-left: 2em;
} */

/* Ordered list styles */
ol.decimal-list {
    list-style-type: decimal;
    margin-left: 2em;
}
/* 
ol.decimal-leading-zero-list {
    list-style-type: decimal-leading-zero;
    margin-left: 2em;
}

ol.lower-alpha-list {
    list-style-type: lower-alpha;
    margin-left: 2em;
}

ol.upper-alpha-list {
    list-style-type: upper-alpha;
    margin-left: 2em;
}

ol.lower-roman-list {
    list-style-type: lower-roman;
    margin-left: 2em;
}

ol.upper-roman-list {
    list-style-type: upper-roman;
    margin-left: 2em;
} */