/* Effect 3d on the font */
header h1,
header a {
    text-align: center;
    color: beige;
    text-shadow: 1px 1px 0px #bbb,
        2px 2px 0px #292828,
        3px 3px 2px rgba(0, 0, 0, 0.3);

}

header a {
    text-decoration: none;
}

header h1 {
    font: 25px Comfortaa, sans-serif;
    padding: 15px;
    margin: 0px;
}

header {
    text-align: center;
    background-color: #eeeeee;
    padding: 10px;
}

.innerPanel {
    background-color: #e0e0e8;

    grid-column: 2/ span 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.toNext {
    background-color: white;
}

.fullspan {
    text-align: center;
    grid-column: 1/ span 2;
}

body {
    background-color: #ffffff;
    font-family: Calibri;

    display: grid;
    gap: 5px;
}

.right-align {
    text-align: right;
}

footer {
    text-align: center;
    background-color: #e0e0e8;
}

p {
    margin: 0px;
}

#centerContent {
    display: grid;
    grid-template-columns: 0fr;
    gap: 5px 0px;
    }

@media screen and (min-width:800px) {
    body {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }

    header {
        grid-row: 1/ span 1;
        grid-column: 1/ span 3;
    }

    #centerContent {
        grid-column: 2/span 1
    }

    footer {
        grid-row: 4;
        grid-column: 1/span 3;
    }
}