button {
    background-color: cyan;
    font-size: 1.5em;
    border-radius: 10px;
}


table,
td,
th {
    border: solid 3px black;
    border-collapse: collapse;
    padding: 5 px;
    text-align: center;

}

td,
th {
    width: 200px;
}

td {
    font-size: 20px;
}

th {
    background-color: aquamarine;
    font-size: 24px;
}

th {
    height: 50px;
}

.keyClass {
    text-align: left;
}

.valueClass {
    text-align: center;
}

.highNumber {
    background-color: yellow;
}