
        h1,
        h2 {
            background-color: blue;
            color: yellow;
            border: 5px solid black;
            text-align: center;
            font-weight: bold;
        }

        h1 {
            font-size: 2 em;
            font-family: Arial
        }

        h2 {
            font-size: 1.5 em;
            font-family: “Times New Roman”
        }

        p {
            font-size: 20px;
            color: blue;
            margin: 20px;
            padding: 10px;
        }

        img {
            width: 250px;
            height: 250px;
            border: 10px green dashed;
            padding: 10px;
        }

        #third-paragraph {
            color: green;
            background-color: rgb(179, 216, 14);
        }

        .styledimages {
            width: 300px;
            border: black dotted 5px;
            padding: 20px;
        }

        #special-group {
            background-color: bisque;
            border: red dashed 2px;
            padding: 10px;

        }

        #last-paragraph {
            width: 70%;
            font-family: roboto;
        }
